@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.content-container {
    @apply absolute top-0 left-0 w-full h-full flex justify-center items-center bg-black bg-opacity-50 z-99999;

    .container-window{
        @apply w-96;
    }
}
