<div class="popup-container" data-theme="cupcake">
    <div class="my-4 flex justify-between items-start">
        <app-city-add [errMsg]="errMsg" [loading]="loading" (keyupCity)="onKeyUp()" (addCity)="onAddCity($event)">
        </app-city-add>
        <app-scale-toggle [scale]="scale" (scaleToggle)="onScaleToggle()"></app-scale-toggle>
    </div>
    <div class="mb-4" *ngIf="homeCityWeatherData">
        <app-weather-card [weatherData]="homeCityWeatherData" [tempetureScale]="scale" [isHomeCity]="true">
        </app-weather-card>
    </div>
    <div class="mb-4" *ngFor="let weather of weatherDatas">
        <app-weather-card [weatherData]="weather" [tempetureScale]="scale" (delete)="onDelete($event)">
        </app-weather-card>
    </div>
</div>